/* Istruzioni generali */
*{
  margin:0;
  padding : 0;
  box-sizing: border-box;
  font-family: Verdana;
}


/* REGOLE HEADER */
header {
  /* background-color: lightgrey; */
  position: relative;
  display: flex;
}

/* Immagine logo */
#logoHeader{
  width: 100%;
  height: 50%;
}

/* contenitore immagine logo */
#nav-bar-left a:first-child{
  width: 100px;
  margin-right: 20px;
}

header nav{
  display: flex;
  align-items: center;
  /* width: 50%; */
}

header nav:last-child{
  justify-content: flex-end;
}


header ul{
  list-style: none;
  display: flex;
}

header ul li{
  margin-right: 20px;
  position: relative;
  /* min-width: 50px; */
}


/* Regole per i link Header */
header a{
  text-decoration: none;
  color: grey;
}

#nav-bar-left {
  min-width: 40%;
}


#nav-bar-left a:active{
  color: black;
}

#nav-bar-left a{
  text-transform: uppercase;
}


#nav-bar-right a:hover{
  color: black;
}

#nav-bar-right {
  min-width: 60%;
  justify-content: flex-end;
}

#nav-bar-right a {
  text-transform: capitalize;
}


.dinamicArrow i {
  transform: rotate(180deg);
}

.dinamicArrow:hover i {
  transform: rotate(360deg);
}

header button{
  padding: 10px 10px;
  background-color: #eb008d;
  color: white;
  border-radius: 50px;
  min-width: 100px;
  max-height: 50px;
}

header button:hover{
  opacity: 0.7;
}

/* Regole generali drop Box */
header .drop{
  border: solid 1px lightgrey;
  width: 15vw;
  position: absolute;
  left: -50%;
  top: 180%;
  flex-direction: column;
  border-radius: 5px;
  /* visibility: hidden; */

}

header .drop li{
  width: 100%;
  padding: 4% 1%;
}

header .drop li:hover{
  background-color: lightgrey;
}

header .drop a{
  margin: 0 auto;
}

/* Regole per Menu ad hamburgher */
#hamburgerButton{
  display: none;
  position: relative;
  right: 0;
}


.hamburger-menu{
  display: flex;
  margin: 0 auto;
  position:absolute;
  top: 0;
  left: 0;
  padding: 100px 0;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  min-height: 100vh;
  /* flex-direction: column; */
  background-color: white;
  display: none;

}

.hamburger-menu > a{
  width: 100%;
  margin: 0;
  /* float: right; */

}

.hamburger-menu > a i{
  float: right;
  margin-right: 10px;

}



.hamburger-menu ul {
  min-width: 100%;
  height: 100%;
  margin: 0 auto;
    display: flex;

    flex-direction: column;
    /* justify-content: space-around; */
    list-style: none;
    align-content: center;
}

.hamburger-menu li {
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0;

}


.hamburger-menu button{
  padding: 2% 4%;
  /* align-self: center; */
  /* margin-top: 20px;
  position: relative;
  left: 50%;
  transform: translate(-60%, -50%); */

}

.hamburger-menu:first-child{
  float: right;
}



/* Helper class */
.active{
  display: none;
}

/* MEDIA QUERY */
@media screen and (max-width: 1000px)
{
  #nav-bar-left ul{
    display: none;
  }

  #nav-bar-right ul,
  #nav-bar-right button{
    display: none;
  }

  #hamburgerButton{
    display: block;
  }

  .hamburger-menu {
      /* display: block; */
  }

  .hamburger-menu.active {
      display: block;
  }


}
